.viewer-container
{
    display: grid;
    justify-items: center;
    align-items: center;   
}

.navegation
{
    position: -webkit-sticky;
    position: sticky;
    bottom: 1em;
    align-self: flex-end;
    align-content: center;
}
