{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>DeepLibrary</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" type="text/css"  href="{% static 'css/home.css' %}"/> 
  
  </head>  
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card w3-large" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-bold" style="text-shadow:1px 1px 0 #444">DeepLibrary</a>
      <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
      <a href="#login" class="w3-bar-item w3-button"><i class="fa fa-user"></i> LOGIN</a>
      <a href="#ctact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT </a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="#" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
  <a href="#login" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>

<!-- Header with full-height image -->

<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">  

  <div class="w3-card-4 w3-display-middle w3-display-container" style="width: min-content;">
    <div class="w3-center">
      <img  src="{% static 'imgs/little_sister.png' %}">  
    </div>
    <div class="w3-container w3-center w3-white" style="opacity: 0.85;">
      <p>Friends may come and go throughout my life, 
        but family is forever. I am so grateful that I 
        have a sister as wonderful as you by my side. 
        There is no one I would rather have as a sister than you.
        <b>Happy Birthday Little Sister.</b>
      </p>
      <p> With Love Bania Fonseca </p>
    </div>
    <div class="w3-center">
      <audio controls>
      <source src="{% static 'imgs/hbd.mp3' %}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
    </div>
  </div> 

</header>
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>
</html>