{% extends "home/index.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css"  href="{% static 'deepshelf/css/deepshelf.css' %}"/>     
{% endblock %} 

{% block header %}
<div class="pos-f-t">
    <nav class="navbar navbar-light bg-light">
        <a class="font-weight-bold navbar-brand" href="/deepshelf"><span>Learning Space</span></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#search" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      
    <div class="collapse" id="search">
      <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
  </div>    
{% endblock %}

{% block content %}
<div class="shelf-container">
    {% for  edocument in edocuments %}
    <div class="w3-container w3-cell-row shelf-item">
        
        <div class="w3-cell">
            <a href="{% url 'viewer' edocument.collection edocument.id %}" 
                    style="text-decoration: none;">
                <img class="w3-card-4 shelf-item-cover"  src="{% static 'deepshelf/imgs/demo.jpg' %}">
            
            <div class="shelf-item-description w3-light-grey w3-opacity">
                <p class="w3-small"> 
                    <b>{{edocument.title|upper}} ({{edocument.year}})</b>
                </p>
               
                <!-- <a href="/" class="w3-bar-item w3-button w3-bold w3-small" 
                        style="text-shadow:1px 1px 0 #444">read</a> -->
            </div>
            </a>   
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block footer %}

{% endblock%}