{% extends "home/base.html" %}
{% load static %}

{% block homeHead %}
<link rel="stylesheet" type="text/css"  href="{% static 'css/deepshelf/shelf.css' %}"/> 
{% endblock %} 

{% block content %}
<div class="shelf-container">
    {% for  edocument in edocuments %}
    <div class="w3-container w3-cell-row shelf-item">
        <div class="w3-cell">
            <img class="w3-card-4 shelf-item-cover"  src="{% static 'imgs/deepshelf/demo.jpg' %}">
            <div class="shelf-item-description w3-light-grey w3-opacity">
                {% if edocument.authors|length > 1 %}
                <p class="w3-small"> 
                    <b>{{edocument.title|upper}}.</b><br>
                    By {{edocument.authors.0.surname|upper}} et al.
                </p>
                {% else %}
                <p class="w3-small w3-padding w3-light-grey w3-opacity">
                    <b>{{edocument.title|upper}}.</b><br>
                    By {{edocument.authors.0.surname|upper}}
                </p>
                {% endif %}   
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}