{% extends "home/index.html" %}
{% load static %}


{% block title %}{{demo.title|title}}{% endblock %}

{% block head %}
<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<link rel="stylesheet" type="text/css"  href="{% static 'lwviewer/css/lwviewer.css' %}" /> 
{% endblock %} 

{% block header %}
<span id=page>{{page}}</span> <span> of </span> <span id="pages">{{pages}}</span>
<button type="button" id='prev' onclick="prev()" >Prev</button> 
<button type="button" id="next" onclick="next()">Next</button>
{% endblock %}

{% block content %}
<div class="viewer-container w3-light-grey" id="viewer-container" 
  style="padding-top: 5em;">  
  <canvas id="the-canvas">     
  </canvas>
</div>
<script>
  // document.getElementById("pages").textContent = {{pages}}
</script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="{% static 'lwviewer/js/lwviewer.js' %}"></script>
{% endblock %}

{% block footer %}
{% endblock %}