{% extends "home/index.html" %}
{% load static %}


{% block title %}{{demo.title|title}}{% endblock %}

{% block head %}
<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<link rel="stylesheet" type="text/css"  href="{% static 'css/lwviewer/lwviewer.css' %}" /> 
{% endblock %} 

{% block navbar%}
<span class="w3-left w3-xxlarge" style="text-shadow:1px 1px 0 #444; padding-bottom: 0; padding-left: 1em;">
  <span id="page_num"></span> of <span id="page_count"></span>
</span>

<span class="w3-display-middle w3-xxlarge" style="text-shadow:1px 1px 0 #444;">
  <span>lwviewer</span>
</span>
<button href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-xlarge" style="padding-bottom: 0; padding-top: 0.4em;">
  <i class="fa fa-bars"></i>
</button>
{% endblock %}

{% block header %}
<!-- <div style="width: 100%; height: 0rem;"> </div> -->
{% endblock %}


{% block content %}
<div class="viewer-container w3-light-grey" id="viewer-container" 
  style="padding-top: 5em;">  
  <canvas id="the-canvas">     
  </canvas>
</div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="{% static 'js/lwviewer/lwviewer.js' %}"></script>
{% endblock %}

{% block footer %}
{% endblock %}