
.shelf-container
{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; 
    display: grid;
    justify-items: center;
    align-items: center;
    grid-row-gap: 5px;
    grid-column-gap: 0px;
}

.shelf-item
{
    height: 346px; 
    width: 203px;
}

.shelf-item-cover
{
    width: 203px; 
    height: 280px;
}
