{% extends "home/index.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css"  href="{% static 'css/deepshelf/shelf.css' %}"/>     
{% endblock %} 

{% block header %}
<div style="width: 100%; height: 9rem;"> </div>
{% endblock %}

{% block content %}
<div class="shelf-container">
    {% for  edocument in edocuments %}
    <div class="w3-container w3-cell-row shelf-item">
        <div class="w3-cell">
            <img class="w3-card-4 shelf-item-cover"  src="{% static 'imgs/deepshelf/demo.jpg' %}">
            <div class="shelf-item-description w3-light-grey w3-opacity">
                <p class="w3-small"> 
                    <b>{{edocument.title|upper}}.</b>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}